<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analizador de Código Java</title>
    <!-- Enlace al archivo CSS usando Flask -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="contenedor">
        <h1>Analizador de Código Java</h1>
        
        <div class="input-container">
            <textarea id="codeInput" class="code-input" placeholder="Ingrese su código Java aquí...">for (int i = 1; i <= 5; i++) {
    System.out.println("El valor de la cifra es: " + i);
}</textarea>
        </div>
        
        <button id="analyzeBtn" class="analyze-button">Analizar</button>

        <div id="error" class="syntax-error hidden"></div>
        
        <div id="tokensContainer" class="contenedor_tabla hidden">
            <h2>Tokens Encontrados</h2>
            <table id="tokensTable">
                <thead>
                    <tr>
                        <th>Token</th>
                        <th>Lexema</th>
                        <th>Número de Línea</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $('#analyzeBtn').click(function() {
                var code = $('#codeInput').val();
                $.ajax({
                    url: '/analyze',
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({code: code}),
                    success: function(response) {
                        $('#error').addClass('hidden');
                        $('#tokensContainer').addClass('hidden');
                        
                        if (response.error) {
                            $('#error').removeClass('hidden').text(response.error);
                        }
                        
                        $('#tokensContainer').removeClass('hidden');
                        var tableBody = $('#tokensTable tbody');
                        tableBody.empty();
                        response.tokens.forEach(function(token) {
                            tableBody.append('<tr><td>' + token.token + 
                                            '</td><td>' + token.lexema + 
                                            '</td><td>' + token.linea + '</td></tr>');
                        });
                    },
                    error: function() {
                        $('#error').removeClass('hidden').text('Error en la solicitud al servidor');
                    }
                });
            });
        });
    </script>
</body>
</html>
